.title {
    width: 100%;
    height: 20vh;
    border: 1px solid #361b1b;
    background-color: #2f2b2b;
}

.main {
    width: 100%;
    height: 60vh;
    border: 1px solid #d5a8a8;
    background-color: #a61a1a;
}

.footer {
    width: 100%;
    height: 20vh;
    border: 1px solid #efefef;
    background-color: #234567;
}