.title {
    width: 100%;
    height: 20vh;
    border: 1px solid #361b1b;
    background-color: #2f2b2b;
}

.main {
    width: 100%;
    height: 60vh;
    border: 1px solid #d5a8a8;
    background-color: #a61a1a;
}

.main-exercise {
    width: 80%;
    height: 40px;
    border: 1px solid #a5a5a5;
    background-color: #d76e6e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 20vh;
    border: 1px solid #efefef;
    background-color: #234567;
}