.title {
    width: 90%;
    height: 20vh;
    background-color: rgb(120, 102, 78);
    border: 1px solid #2d2d2d;
}

.title-h1, .title-h2 {
    margin-left: 20px;
    color: #fff;
}

.demo {
    width: 90%;
    height: 60vh;
    background-color: rgb(91, 72, 46);
    border: 1px solid #2d2d2d;
}

.demo-img {
    margin-top: 200px;
    margin-left: 40px;
}

.controls {
    width: 90%;
    height: 20vh;
    background-color: rgb(159, 97, 10);
    border: 1px solid #2d2d2d;
}